<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834633686221-frkf3cehsjlj9mrm9j68oi4vi03stndr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834633686221-frkf3cehsjlj9mrm9j68oi4vi03stndr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>834633686221-k84jeo5e1soqge5d7c2bq88dtvok0081.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrMZ0tD7vAbZhBuoTh7PewSs0NsfQOi-k</string>
	<key>GCM_SENDER_ID</key>
	<string>834633686221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>test-project-809c7</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-809c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834633686221:ios:0b1453d00d02202a</string>
	<key>DATABASE_URL</key>
	<string>https://test-project-809c7.firebaseio.com</string>
</dict>
</plist>